body{
background-color: darkslategray;
}
h1  {
    color: rgb(45, 15, 15);
}
h2  {
    color: rgb(46, 22, 22);
}
h3  {
    color: rgb(3, 63, 3);
}
h4  {
    color: rgb(0, 0, 0);
}
h5  {
    color: rgb(0, 0, 0);
}
h6  {
    color: rgb(0, 0, 0);
}